html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
input:focus {
  outline: none;
}
/* Layout */
.grid-containers {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #203040;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #0d6efd;
  color: #fff;
  cursor: pointer;
  opacity: 0.99;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  opacity: 1;
}
button.primarys {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}
button.little {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}
a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.line.center {
  justify-content: center;
}
.line.top {
  align-items: flex-start;
}
.line.start {
  justify-content: flex-start;
}
.coloumn-1 {
  flex: 1 1 25rem;
}
.coloumn-2 {
  flex: 2 1 50rem;
}
.coloumn-3 {
  flex: 32 1 75rem;
}
.minimum-30 {
  min-width: 30rem;
}
.padding-1 {
  padding: 1rem;
}
/* Aside */
aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: #efefef;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 2.4rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
button.open-sidebar:hover {
  border-color: #ffffff;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.little {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
}

/* cards */
.cards {
  border: 0.1rem #dbdbdb solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 2rem;
  box-shadow: -1px 6px 10px #dbdbdb;
  transition: 0.3s;
}

.cards-body {
  padding: 1rem;
}
.cards-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Form */
.forms {
  max-width: 60rem;
  margin: 0 auto;
}
.forms > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.forms label {
  margin: 1rem 0;
}
/* Dropdowns */
.dropdowns {
  display: inline-block;
  position: relative;
}
.dropdowns-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdowns:hover .dropdowns-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
/* Tables */
.tables {
  width: 100%;
  border-collapse: collapse;
}
.tables tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.tables td,
.tables th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.tables button {
  margin: 0 0.2rem;
}
/* Carousel */
.carousel .slide img {
  max-width: 30rem;
}

/* Search */
.searchs button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
  background-color: #e9ecef;
}
.searchs button .fa {
  color: gray;
}
.searchs input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}
.active {
  font-weight: bold;
}

/* Map */
.full-containers {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
/* Pagination */
.paginations a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.paginations a.active {
  font-weight: bold;
}

/* Dashboard */

.summarys > li {
  border: 0.1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}
.summarys-title {
  font-size: 2rem;
  padding: 1rem;
}
.summarys-body {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

.summarys-title.color1 {
  background-color: #f0e0e0;
}
.summarys-title.color2 {
  background-color: #e0f0e0;
}
.summarys-title.color3 {
  background-color: #e0e0f0;
}

/* Chatbox */
.chatbox {
  color: #000000;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
.chatbox ul {
  overflow: scroll;
  max-height: 20rem;
}
.chatbox li {
  margin-bottom: 1rem;
}
.chatbox input {
  width: calc(100% - 9rem);
}

.support-users {
  background: #f0f0f0;
  height: 100%;
}
.support-users li {
  background-color: #f8f8f8;
}
.support-users button {
  background-color: transparent;
  border: none;
  text-align: left;
}
.support-users li {
  margin: 0;
  background-color: #f0f0f0;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.support-users li:hover {
  background-color: #f0f0f0;
}
.support-users li.selected {
  background-color: #c0c0c0;
}
.support-messages {
  padding: 1rem;
}
.support-messages input {
  width: calc(100% - 9rem);
}
.support-messages ul {
  height: calc(100vh - 18rem);
  max-height: calc(100vh - 18rem);
  overflow: scroll;
}
.support-messages li {
  margin-bottom: 1rem;
}

.support-users span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  margin-left: -25px;
  margin-top: 10px;
}
.support-users .offline {
  background-color: #808080;
}
.support-users .online {
  background-color: #20a020;
}
.support-users .unread {
  background-color: #f02020;
}
.custom {
  padding: 1rem;
  margin-bottom: 2.5rem;
}
.product_head {
  margin-left: 2rem;
}
.searchs input:focus {
  outline: none;
  box-shadow: 0px 0px 5px #6f42c1;
  transition: 0.3s;
}
aside li {
  margin-left: 1em;
}
aside li:hover {
  background-color: #f8f9fa;
}
.category_name:hover {
  background: none;
}
ul ul li a {
  padding: 0;
}
.dropdowns-content li a {
  padding: 0;
}
.product_image,
h2 {
  margin-left: 50px;
}
.product_details {
  margin-left: 30px;
}
.back_btn {
  padding: 10px 15px;
  margin-left: 50px;
  margin-bottom: 20px;
}
.rating .form-select {
  height: 35px;
  border-radius: 5px;
}
.rating .form-select:focus {
  box-shadow: none;

  outline: none;
}
#comment:focus {
  outline: none;
}
.submit .btn-primary {
  height: 35px;
}
.qty .form-select:focus {
  box-shadow: none;
}
.qty select {
  width: 80px;
}
select::-webkit-scrollbar {
  width: 0;
}

select::-webkit-scrollbar-track {
  box-shadow: none;
}

select::-webkit-scrollbar-thumb {
  background: none;
}
.btn-primary:focus {
  box-shadow: none;
  border: none;
  outline: none;
}
.btn-primary:active {
  box-shadow: none;
  border: none;
  outline: none;
}
.product_title {
  margin: 0;
}
.seller:hover {
  opacity: 1;
  transform: scale(1);
}
.custom_search {
  margin-left: 30px;
}
.result {
  margin-left: auto;
  width: 50%;
  color: #6c757d;
  text-align: center;
}

.sort span {
  color: #6c757d;
  margin-right: 15px;
}
.sort select {
  margin-bottom: 10px;
}
.sort select:focus {
  outline: none;
}
.avg {
  margin-top: 10px;
}
.dropdowns {
  margin-right: 20px;
}
.dropdowns-content {
  right: -30px;
  min-width: 13.5rem;
}
.loading {
  margin-left: 20px;
}
.cart_page {
  margin-left: 25px;
}
.bi {
  transform: scale(1.5);
  margin-left: 5px;
  margin-right: 10px;
}
.procced:hover {
  transform: none;
}
.order:hover {
  transform: none;
}

.profile input:focus,
#description:focus {
  outline: none;
  box-shadow: 0px 0px 5px #6f42c1;
  transition: 0.3s;
}
.dashboard {
  font-weight: bold;
  margin-left: 25px;
  text-shadow: 2px 2px #c0c0c0;
  font-size: 35px;
}
.chatbox button {
  background-color: #f8f9fa;
}
.chatbox button i {
  color: #0d6efd;
}
.chat_card {
  box-shadow: 0px 0px 3px #cccccc;
}
.chat_card:hover {
  transform: none;
}
.chat_card button {
  color: #000000;
}
.chat_card input:focus {
  box-shadow: 0px 0px 3px #0d6efd;
}
.chat_card ul::-webkit-scrollbar {
  width: 0;
}
.user_prfl_section {
  margin-right: 10px;
}
.product_card:hover {
  transform: none;
}
.image_name_field {
  display: none;
}
ul::-webkit-scrollbar {
  width: 0;
}
.order_details,
.user_details {
  margin: 20px 15px 0 25px;
}

.support-users button {
  color: #2020a0;
  font-weight: 500;
  font-family: sans-serif;
  margin-left: 20px;
}
.user_review {
  margin-left: 50px;
}

@media screen and (max-width: 950px) and (min-width: 788px) {
  .dropdowns {
    color: black;
    /* margin-left: 100px; */
    order: 2;
  }
  .dropdowns a {
    color: black;
  }
  .cart_tag {
    padding-left: 150px;
    margin-left: 120px;
  }
  .cart_tag a {
    color: black;
    margin-right: 20px;
    /* padding-left: 150px; */
  }
  .dropdowns {
    margin-right: 0;
    margin-top: 20px;
    background-color: #203040;
    padding: 10px;
    margin-right: 50px;
    border-radius: 5px;
  }
  .dropdowns a {
    color: white;
  }
  .dropdowns-content {
    right: 0px;
    min-width: 0;
    top: 45px;
  }
  .dropdowns-content a {
    color: white;
  }
  .responsive {
    margin-top: 50px;
  }
}

@media screen and (max-width: 787px) and (min-width: 509px) {
  .searchs {
    position: relative;
    top: 47px;
    left: 350px;
  }
  .searchs button {
    border-radius: 0 0.5rem 0.5rem 0;
    border-right: none;
    margin-right: 0.5rem;
    background-color: #e9ecef;
  }
  .searchs button .fa {
    color: gray;
  }
  .searchs input {
    width: 150px;
    right: 40px;
    position: absolute;
  }
  .searchs input ::placeholder {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) and (min-width: 200px) {
  .searchs {
    width: 0;
    display: none;
  }
  .responsive_nav {
    margin-bottom: 50px;
  }

  .responsive_nav a {
    color: black;
    padding: 3rem 0 1rem 6rem;
    z-index: -1;
    display: inline-block;
  }
  .responsive_nav .dropdowns-content a {
    color: white;
    padding-top: 0px;
  }
  .dropdowns-content {
    top: 45px;
  }

  .responsive {
    margin-top: 50px;
  }

  .carousel-root {
    display: none;
  }
}
@media screen and (max-width: 320px) and (min-width: 120px) {
  .searchs {
    width: 0;
    display: none;
  }
  .responsive_nav {
    margin-bottom: 50px;
  }

  .responsive_nav a {
    color: black;
    padding: 0;
    z-index: -1;
    display: inline-block;
  }
  .responsive_nav .dropdowns-content a {
    color: white;
    padding-top: 0px;
  }
}
